.product {
	display: inline-block;
	background-color: #BCBCBC;
	margin: 0 5px 10px 0;
	border-radius: 5px;
	padding: 20px;
	transition: 0.5s ease all;
}

.product:hover {
	background-color: #9A9A9A;
	border-color: #898989;
	box-shadow: 0 0 5px rgb(0 0 0 / 10%);
	transform: translateY(5px);
}

a {
	text-decoration: none !important;
}

.product-name {
	height: 48px;
	color: white;
}

.product img {
	width: 100%;
}

.product-price {
	font-weight: 600;
	color: #5abd0a;
}

.quantity-bar button {
	width: 20%;
}

.quantity-bar input {
	width: 50%;
	border: none;
	background-color: white;
	color: #292E49 !important;
	text-align: center;
}